@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

body{
    font-family: 'Poppins',sans-serif;
}
.container{
    width: 95%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.hex-colors h1{
    font-size: 2rem;
    text-transform: uppercase;
    animation: changeColor 5s infinite alternate;
}
.hex-colors h2{
font-size: 2rem;
margin-top: 15%;
}
@keyframes changeColor{
0%{
    color: indigo;
}    
20%{
    color: #000000;
}    
40%{
    color: #990000;
}    
60%{
    color: #8CD673;
}    
80%{
    color: #F5F5F5;
}    
100%{
    color: #FFCA2E;
}    
}
@media(max-width:480px){
    .hex-colors h1{
        font-size: 1.5rem;
    }
    .hex-colors h2{
        font-size: 1.5rem;
    }
}